@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    background: rgba(205, 165, 88, 0.95);;
}

.title-font::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.3);
}